* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* navigation start */

nav {
  border: 1px solid black;
  background-color: #0a0b0c;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  padding: 1.5rem 0;
  align-items: center;
}

.nav-links-list {
  display: flex;
}

.nav-links-list li {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 2rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  list-style-type: none;
}

.nav-links-list li:first-child {
  padding-left: 0rem;
}

.nav-links-list li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
  font-weight: 500;
}

.nav-links-list li a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  opacity: 1;
}

.nav-social-links-list {
  display: flex;
  align-items: flex-end;
}

.nav-social-link {
  list-style-type: none;
  padding-left: 1.75rem;
  letter-spacing: 0.2px;
}

svg {
  height: 1.2rem;
  fill: #fff;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
}

svg:hover {
  opacity: 1;
}

.nav-social-link button {
  outline: 0;
  background-color: #0a0b0c;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.nav-social-link button:hover {
  opacity: 1;
}

/* navigation end */

/* header start */

header {
  background-color: #0a0b0c;
  color: #fff;
}

.header-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 5vw 3vw 6vw;
}

.header-img img {
  max-height: 55px;
  opacity: 0.9;
}

.header-text {
  font-size: 1.35rem;
  opacity: 0.8;
  font-weight: 300;
}

/* header end  */

/* main start */

main {
  background-color: #1a1c20;
}

.main-container {
  display: grid;
  grid-template-areas:
    'box1 box1 box1 box1 box1 box1'
    'box2 box2 box3 box3 box4 box4'
    'box5 box5 box5 box6 box6 box6';
  width: 70vw;
  margin: 0 auto;
  gap: 5rem 3rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.box {
  display: flex;
  flex-direction: column;
}

.box1 {
  grid-area: box1;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}

.box1-image {
  display: flex;
  width: 48vw;
  opacity: 0.9;
}

.box1-image img {
  height: 100%;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.box1-content {
  display: flex;
  flex-direction: column;
  flex: 0 1 361px;
  padding-left: 2rem;
  justify-content: center;
}

.box1-content h5 {
  color: #3eb0ef;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 0rem;
}

.box1-content h1 {
  color: #fff;
  opacity: 0.85;
  font-size: 2rem;
  font-weight: 600;
  flex: 0 1;
}

.box1-content p {
  font-family: Georgia, serif;
  color: #90a2aa;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin-top: 1rem;
  padding-right: 1.15rem;
  flex: 0 1;
}

.description {
  display: flex;
  flex: 0 1 auto;
  margin-top: 2rem;
}

.desc-image img {
  height: 2rem;
  border-radius: 50%;
}

.desc-content {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2px;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.desc-content .desc-content-title {
  color: #fff;
  opacity: 0.75;
  font-weight: 600;
}

.desc-content .desc-content-title:hover {
  opacity: 1;
  cursor: pointer;
}

.desc-content .desc-content-para {
  color: #90a2aa;
  font-weight: 400;
}

.desc-content .desc-content-para .bull {
  margin: 0 4px;
  opacity: 0.6;
}

.box2 {
  grid-area: box2;
}

.box2-image img {
  max-height: 380px;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.box2-image {
  display: flex;
  opacity: 0.9;
}

.box-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 1rem;
  justify-content: space-between;
}

h5 {
  color: #3eb0ef;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2px;
  /* margin-top: 2rem; */
  font-size: 0.75rem;
  flex: 0 1;
}

h1 {
  color: #fff;
  opacity: 0.85;
  font-size: 1.375rem;
  font-weight: 600;
  flex: 1 1;
}

p {
  font-family: Georgia, serif;
  color: #90a2aa;
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 1rem;
  padding-right: 1.15rem;
  flex: 1 1;
}

.box3 {
  grid-area: box3;
}

.box3-image img {
  max-height: 380px;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.box4 {
  grid-area: box4;
}

.box4-image img {
  max-height: 380px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.box5 {
  grid-area: box5;
}

.box5-image img {
  max-height: 200px;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.box6 {
  grid-area: box6;
}

.box6-image img {
  max-height: 200px;
  flex: 1 1 auto;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* main end */

/* footer start */

footer {
  background-color: #0a0b0c;
}

.footer-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1.5rem 0 4rem;
  font-size: 0.8rem;
}

.footer-container .site-logo {
  opacity: 0.7;
}

.footer-social-links {
  display: flex;
  list-style-type: none;
}

.footer-social-links li {
  position: relative;
  padding-left: 1.15rem;
}

.footer-social-links li::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  left: 8px;
  top: 6px;
  width: 3px;
  height: 3px;
}

.footer-social-links li:first-of-type::before {
  display: none;
}

.footer-social-links li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.footer-social-links li a:hover {
  opacity: 1;
}

/* footer end */

/* media queries start */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    width: 90vw;
  }

  .main-container {
    grid-template-areas:
      'box1 box1 box1 box2 box2 box2'
      'box3 box3 box3 box4 box4 box4'
      'box5 box5 box5 box6 box6 box6';
    width: 90vw;
    gap: 5rem 2rem;
  }

  .box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .box1 {
    flex-direction: column;
    gap: 0em;
  }

  .box1-image {
    width: auto;
  }

  .box1-image img {
    max-height: 100%;
    height: 100%;
  }

  .box1-content {
    padding-left: 0rem;
    flex: 1 1 auto;
  }

  .box1-content h1 {
    font-size: 1.375rem;
  }

  .box1-content p {
    font-size: 1rem;
    padding-right: 0rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  p {
    padding-right: 0rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .box1-content {
    padding-top: 1rem;
  }

  .box-content {
    flex: 1 1 auto;
    margin-top: 0rem;
    padding-top: 1rem;
    justify-content: space-between;
  }

  .footer-container {
    width: 90vw;
  }

  .box1-image img {
    width: 8rem;
  }

  .box2-image img {
    width: 8rem;
  }

  h1 {
    flex: 0 1;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    width: 90vw;
  }
  .nav-links {
    text-align: center;
    margin: 0 auto;
  }

  .nav-social-links {
    display: none;
  }

  .header-container {
    width: 90vw;
    text-align: center;
  }

  .main-container {
    grid-template-areas:
      'box1'
      'box2'
      'box3'
      'box4'
      'box5'
      'box6';
    width: 90vw;
    gap: 5rem 2rem;
    padding-bottom: 5rem;
  }

  .box1 {
    flex-direction: column;
    gap: 0em;
  }

  .box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .box1-image {
    width: auto;
  }

  .box1-image img {
    max-height: 100%;
    height: 100%;
  }

  .box1-content {
    padding-left: 0rem;
    flex: 1 1 auto;
    padding-top: 2rem;
    margin-top: -1rem;
  }

  .box1-content h1 {
    font-size: 1.375rem;
  }

  .box1-content p {
    font-size: 1rem;
    padding-right: 0rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  p {
    padding-right: 0rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .footer-container {
    width: 90vw;
  }

  .nav-links-list li {
    font-size: 0.75rem;
  }
}
