* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  /* , Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
  /* font-family: Georgia,serif; for paras*/
}

nav {
  border: 1px solid black;
  background-color: #0a0b0c;
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  padding: 1.5rem 0;
  align-items: center;
}

.nav-links-list {
  display: flex;
}

.nav-links-list li {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 2rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  list-style-type: none;
}

.nav-links-list li:first-child {
  padding-left: 0rem;
}

.nav-links-list li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
}

.nav-links-list li a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  opacity: 1;
}

.nav-social-links-list {
  display: flex;
  align-items: flex-end;
}

.nav-social-link {
  list-style-type: none;
  padding-left: 1.75rem;
  letter-spacing: 0.2px;
}

svg {
  height: 1.2rem;
  fill: #fff;
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
}

svg:hover {
  opacity: 1;
}

.nav-social-link button {
  background-color: #0a0b0c;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.nav-social-link button:hover {
  opacity: 1;
}

header {
  background-color: #0a0b0c;
  color: #fff;
}

.header-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 5vw 3vw 6vw;
}

.header-img img {
  max-height: 55px;
  opacity: 0.9;
}

.header-text {
  font-size: 1.35rem;
  opacity: 0.8;
  font-weight: 300;
}

main {
  background-color: #1a1c20;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  gap: 2rem;
}

.box1 {
  /* background-color: lightcoral; */
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}

.box1-image {
  display: flex;
}

.box1-image img {
  min-height: 380px;
  flex: 1 1 auto;
  width: 100%;
}

.box1-content {
  /* background-color: lightsteelblue; */
  display: flex;
  flex-basis: ;
  flex-direction: column;
  width: min-content;
}

.box1-content h5 {
  color: #3eb0ef;
  text-transform: uppercase;
}

.box1-content h1 {
  color: #fff;
  opacity: 0.85;
}

.box1-content p {
  font-family: Georgia, serif;
  color: #90a2aa;
}

.description {
  display: flex;
  flex: 0 1 auto;
}

.desc-image img {
  height: 2rem;
}

.desc-content {
  display: flex;
  flex-direction: column;
}

.desc-content .desc-content-title {
  color: #fff;
  opacity: 0.75;
}

.desc-content .desc-content-para {
  color: #90a2aa;
}

.box2 {
  background-color: lightskyblue;
}

.box3 {
  background-color: lightgreen;
}
